// _base.scss
// Base styles
body {
    font-family: $font-stack;
    background-color: $background-color;
    color: $text-color;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: $primary-color;
    &:hover {
      text-decoration: underline;
    }
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: $padding;
  }
  